.gambar::-webkit-scrollbar {
  width: 0.5em;
  background: transparent;
  height: 0.5em;
}

.gambar::-webkit-scrollbar-track {
  background-color: transparent;
}

.gambar::-webkit-scrollbar-thumb {
  background-color: #fb7f33;
  border-radius: 20px;
  transition-duration: 500ms;
}

.gambar::-webkit-scrollbar-thumb:hover {
  background-color: #fc6507;
}
